
@{
    ViewBag.Title = "ChangePassword";
}
@{
    if (TempData["p_change"] != null)
    {

        if (TempData["p_change"].ToString() == "success")
        {
            <script>
                Swal.fire({
                    position: 'center-center',
                    icon: 'success',
                    title: 'Password Change Successfull',
                    showConfirmButton: true,
                    timer: 3000,
                    customClass: {
                        confirmButton: 'btn btn-primary'
                    },
                    buttonsStyling: false
                });
            </script>
        }
        else
        {
            <script>
                Swal.fire({
                    position: 'center-center',
                    icon: 'error',
                    title: 'Password Change Failed!!!. Please Enter Correct Old Password!!!',
                    showConfirmButton: true,
                    timer: 3000,
                    customClass: {
                        confirmButton: 'btn btn-primary'
                    },
                    buttonsStyling: false
                });
            </script>
        }

    }
}
<section class="pt-70">
    <div class="container">


        <div id="login-part" class="pt-85 pb-80">
            <div class="container">
                <div class="row no-gutters justify-content-center">
                    <div class="col-xl-4 col-lg-5 col-md-7 col-sm-10">
                        <div class="login-form text-center">
                            <div class="logo mb-50">
                                <a href="#"><img src="images/logo-footer.png" alt="Logo"></a>
                                <h2>Change Password</h2>
                            </div>
                            <form method="post" action="@Url.Action("ChangePassword")">
                                @{
                                    var a = (VMS.Models.user)Session["user"];
                                    <input type="text" name="id" value="@a.Id" hidden />
                                }
                                <div class="col-md-11 mb-3">
                                    <label class="form-label">Enter Your Old Password</label>
                                    <input class="form-control" id="old" type="password" name="old_password" placeholder="">
                                    <p class="text-danger">@Html.ValidationMessage("old_pass")</p>
                                </div>
                                <div class="col-md-11 mb-3">
                                    <label class="form-label">Enter Your New Passowrd</label>
                                    <input class="form-control" type="password" name="password" id="password">
                                    <p class="text-danger">@Html.ValidationMessage("password")</p>


                                </div>
                                <div class="col-md-11 mb-3">
                                    <label class="form-label">Confirm your Passowrd</label>
                                    <input class="form-control" type="password" id="c_password" disabled>
                                    <p  id="c_msg">@Html.ValidationMessage("c_password")</p>


                                </div>

                                <div class="singel-form pt-30">
                                    <button type="submit" id="change" disabled>Change Password</button>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>

<script>
    $(document).ready(function () {
        var inputs = $("input[type='password']");
        $(inputs).on("input", function () {
            if ($(inputs[0]).val() != "" && $(inputs[1]).val() != "" && $(inputs[2]).val() != "") {
                console.log("fill")
                $("#change").removeAttr("disabled")
            }
            else {

                $(inputs[1]).on("input", function () {

                    let val = $(this).val();
                     const regex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,}$/;


                    if (!regex.test(val)) {
                        $(this).next().html("Password is not valid!!!")
                        $(this).next().removeClass("text-success");
                        $(this).next().addClass("text-danger");
                    }
                    else {
                        $(inputs[2]).removeAttr("disabled")

                        $(this).next().html("Password is valid!!!")
                        $(this).next().removeClass("text-danger");
                        $(this).next().addClass("text-success");

                    }

                })

                $(inputs[2]).on("input", function () {

                    if ($(inputs[1]).val() != $(this).val()) {
                        $("#change").attr("disabled", "disabled")
                        $("#c_msg").text("Password and Confirm Password should be same !!!!!").css("color", "red")

                    }
                    else {
                        $("#c_msg").text("Password Matches").css("color", "green")
                        $("#change").removeAttr("disabled")

                    }
                })
                console.log("empty")


                $("#change").attr("disabled", "disabled")

            }

        })

    })

</script>

