
@{
    ViewBag.Title = "UserProfile";
}



@{
    if (TempData["l_msg"] != null)
    {


        <script>
            Swal.fire({
                position: 'center-center',
                icon: 'success',
                title: 'Login Successfull',
                showConfirmButton: true,
                timer: 1000,
                customClass: {
                    confirmButton: 'btn btn-primary'
                },
                buttonsStyling: false
            });
        </script>

    }
}
@{
    if (TempData["meeting_added"] != null)
    {


        <script>
            Swal.fire({
                position: 'center-center',
                icon: '@TempData["meeting_added"].ToString()',
                title: '@TempData["meeting_msg"].ToString()',
                showConfirmButton: true,
                timer: 1000,
                customClass: {
                    confirmButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });
        </script>

    }
}
@{
    if (TempData["visit_added"] != null)
    {


        <script>
            Swal.fire({
                position: 'center-center',
                icon: '@TempData["visit_added"].ToString()',
                title: '@TempData["visit_msg"].ToString()',
                showConfirmButton: true,
                timer: 1000,
                customClass: {
                    confirmButton: 'btn btn-danger'
                },
                buttonsStyling: false
            });
        </script>

    }
}

<section class="pt-70">
    <div class="container">
        <h1>Welcome @Session["username"]</h1>
        <a class="btn btn-danger" href="@Url.Action("AddMeeting")">Add Meeting</a>
        <a class="btn btn-primary" href="@Url.Action("AddVisit")">Add Visit</a>
    </div>
</section>