@model IEnumerable<VMS.Models.visit>
@{
    ViewBag.Title = "GetVisits";
    Layout = "~/Views/Shared/_SuperAdminLayout.cshtml";
}

<section class="pt-70">
    <div class="container">


        <h2>Get Visits</h2>


        <div class="col-sm-12">
            <div class="card">

                <div class="card-body">
                    <div class="table-responsive">
                        <table class=" table ">
                            <thead>
                                <tr>
                                    <th>Visit Id</th>
                                    <th>User ID</th>

                                    <th>Date</th>
                                    <th>Visit Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var visit in Model)
                                    {
                                        <tr class="mt-3">
                                            <td>
                                                @visit.Id
                                            </td>
                                            <td>
                                                @visit.user_id
                                            </td>

                                            <td>
                                                @visit.visit_date.ToLongDateString()
                                            </td>
                                            @{
                                                if (visit.approval == 0)
                                                {
                                                    <td>
                                                        <button class="btn" onclick="location.href='@Url.Action("approve", "SuperAdmin",new {id=visit.Id,ch=0 } )'"> <i style="font-size:20px;color:red" class="fa-regular fa-circle-xmark"></i></button> 
                                                        <button class="btn" onclick="location.href='@Url.Action("approve", "SuperAdmin",new {id=visit.Id,ch=1 } )'"> <i style="font-size:20px;color:green" class="fa-regular fa-circle-check"></i></button>
                                                    </td>

                                                }
                                                else if (visit.approval == 1)
                                                {
                                                    <td> Visit is Approved</td>
                                                }
                                                else
                                                {

                                                    <td>Visit Is Declined</td>
                                                }
                                            }
                                            <td>
                                                @* <a href="@Url.Action("MeetingDetail","User",new {id= meeting.id})">Details</a>*@
                                            </td>

                                        </tr>

                                    }
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


